/AlreadyCarryingException.class
/Apple.class
/Carrot.class
/Cauliflower.class
/ClonableVegetableListChoser.class
/Collector.class
/Fruit.class
/ListChoser.class
/Rutabaga.class
/Vegetable.class
/VegetableListChoser.class
/Clonable.class
